.git/

# for WebStorm
.idea/

# for npm
node_modules/
npm-shrinkwrap.json

# for grunt
typings/
.tscache/
espowered/

# codes
test/

# misc
example/
screenshots/
src/
.gitignore
.editorconfig
circle.yml
setup.sh
Gruntfile.js
tslint.json
tsconfig.json

npm-debug.log